<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Login - speedtest</title>
    <script src="{{url_for('static', filename='document.min.js')}}"></script>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>


<!-- alert window -->
<!-- to do: different color depending on status code -->
<div class="outerLoginAlert">
     <div class="innerLoginAlert">
     {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                {% if message == '200' %}
                  <div class="alert alert-dismissible alert-success" style="text-align:center;">
                {% else %}
                  <div class="alert alert-dismissible alert-danger" style="text-align:center;">
                {% endif %}
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      <strong>{{ message }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>
</div>


<div id="outerSection">
    <div id="middleSection">

        <!-- description -->
        <div class="leftContent">
            <div class="well well-lg">
                <h5>speedtest</h5>
                <p>This is a tool for monitoring your network bandwidth.
                    Run the script and login here to see your graph.</br>
                    Details <a href="/manual">here</a>.
                </p>
            </div>
        </div>

        <!-- login form -->
        <div class="rightContent">
            <form class="form-horizontal" method="post", action="{{url_for('authentication.login')}}">
              <fieldset>
                <div class="form-group">
                  <label for="username" class="col-lg-2 control-label">username</label>
                  <div class="col-lg-10">
                    <input class="form-control" id="inputEmail" placeholder="username" type="text" name="username" autofocus>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">password</label>
                  <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" placeholder="password" type="password" name="password">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">login</button>
                    <a class="btn btn-default" href="/register">register</a>
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
    </div>

</div>


<script>

setTimeout(function() {
    $(".innerLoginAlert").fadeOut().empty();
    }, 5000);

</script>

</body>
</html>
