<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Login - speedtest</title>
    <script src="{{url_for('static', filename='document.min.js')}}"></script>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>

<div id="outer-section" style="width: 30%;">
    <div id="middle-section">

        <div class="404">
            <div class="well well-lg" style="text-align: center;">
                <h5>404</h5></br>
                <p>nothing is here.</br>
                go <a href="/login">back</a>
                </p>
            </div>
        </div>
    </div>
</div>



</body>
</html>
