<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



<script type="text/javascript">

    var daneDown = [
              [Date.parse('2017-08-01 19:36:28.757000'),23.22, 5.5] ,
              [Date.parse('2017-08-02 19:36:28.757000'),22.0, 7.7],
              [Date.parse('2017-08-03 19:36:28.757000'),28.0, 9.9]
            ];
    var daneUp = [
              [Date.parse('2017-08-01 19:36:28.757000'),2.22] ,
              [Date.parse('2017-08-02 19:36:28.757000'),2.0],
              [Date.parse('2017-08-03 19:36:28.757000'),2.8]
            ];

    Highcharts.chart('container', {
        chart: {
            zoomType: 'x'
        },
        title: {
            text: 'Speedtest'
        },
        xAxis: {
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Mb/s'
            }
        },
        plotOptions: {

            area: {
                marker: {
                    radius: 2
                },
                lineWidth: 1,
                states: {
                    hover: {
                        lineWidth: 1
                    }
                },
                threshold: null
            }
        },

        series: [{
            type: 'area',
            name: 'Download',
            data: daneDown
        }, {
            type: 'area',
            name: 'Upload',
            data: daneUp
        }]
    });

</script>
