<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>login page</title>
    <style>
        .code {
            font-size: 20rem;
        }
    </style>
</head>
<body>
	<div align = "center">

	<h3>log in</h3>
      <form method="post", action="{{url_for('login')}}">
       	 <label for="name">
          user
         </label><br>
          <input type="text" name="username" id="username"><br>
         <label for="password">
          pass
        </label><br>
        <input type="password" name="password" id="password"><br>
        <button type="submit" class="button button-dark" id="login">enter</button>
      </form>
      <br>
      <div class="code">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</body>
</html>
