<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Test login markdown page</title>
    <script src="{{url_for('static', filename='document.min.js')}}"></script>
    <link rel="stylesheet" href="static/style.css" />
</head>
<body>


<!-- alert window -->
<!-- to do: different color depending on status code -->
<div class="outerLoginAlert">
     <div class="innerLoginAlert">
     {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-dismissible alert-danger" style="text-align:center;">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>{{ message }}</strong>
              </div>
          {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
</div>


<div class="outerSection">
    <div class="middleSection">

        <!-- description -->
        <div id="leftContent">
            <div class="well well-lg">
                <h5>Speedtest</h5>
                <p>This is a tool for monitoring your network bandwidth.
                    Run the <a href="github.com">script</a> and login here to see
                    your graph.</br>
                    Details <a href="manual">here</a>.
                </p>
            </div>
        </div>

        <!-- login form -->
        <div id="rightContent">
            <form class="form-horizontal" method="post", action="{{url_for('login')}}">
              <fieldset>
                <div class="form-group">
                  <label for="username" class="col-lg-2 control-label">username</label>
                  <div class="col-lg-10">
                    <input class="form-control" id="inputEmail" placeholder="username" type="text" name="username">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword" class="col-lg-2 control-label">password</label>
                  <div class="col-lg-10">
                    <input class="form-control" id="inputPassword" placeholder="password" type="password" name="password">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">login</button>
                  </div>
                </div>
              </fieldset>
            </form>
        </div>
    </div>

</div>



</body>
</html>
