<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{url_for('static', filename='document.min.js')}}"></script>
    <link rel="stylesheet" href="static/style.css" />

    <meta charset="utf-8">
    <title>Stats - speedtest</title>
</head>
<body>


    <div id="statsNavBar">
        <h6 class="well well-sm" style="float:left"><a href="/user/{{username}}">user:{{username}}</a></h6>
        <a href="/logout" class="btn btn-default" style="float:right">logout</a>
        <a href="/manual" class="btn btn-default" style="float:right">help</a>
    </div>

    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto">
    <script type="text/javascript">

        var daneDown = {{downs}};
        var daneUp = {{ups}};
        var danePing = {{pings}};

        Highcharts.chart('container', {
            chart: {
                zoomType: 'x'
            },
            title: {
                text: ''
            },
            xAxis: {
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Mb/s'
                }
            },
            plotOptions: {
                series: {
                    fillOpacity: 0.25
                },

                area: {
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                },

                line: {
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },

            series: [{
                type: 'area',
                name: 'Download',
                data: daneDown,
                color: 'rgba(25, 250, 0, 0.5)',
            }, {
                type: 'area',
                name: 'Upload',
                data: daneUp,
                color: 'rgba(0, 112, 250, 0.3)',
            }, {
                type: 'line',
                name: 'Ping',
                data: danePing,
                color: 'rgba(250, 0, 0, 1)',
            }]
        });

    </script>
    </div>




</body>
</html>
