<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{url_for('static', filename='document.min.js')}}"></script>
    <link rel="stylesheet" href="static/style.css" />

    <meta charset="utf-8">
    <title>{{username}} - user panel</title>
</head>
<body>

asdf userpanel {{username}}

</body>
</html>
