<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="{{url_for('static', filename='document.min.js')}}"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="{{url_for('static', filename='v_app.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    <meta charset="utf-8">
    <title>{{username}} - user panel</title>
</head>
<body>

    <!-- Top bar containgin user link and help/logout buttons -->
    <div id="stats-nav-bar">
            <h6 class="well well-sm" style="float:left"><a href="/user/{{username}}">user:{{username}}</a></h6>
            <a href="/logout" class="btn btn-default" style="float:right">logout</a>
            <a href="/manual" class="btn btn-default" style="float:right">help</a>
    </div>


    <div>
        <!-- Title -->
        <div id="page-title">
            <h2>user panel</h2>
            <p>{{username}}, this is your user panel. get some details here or change your account's settings.  </p>
        </div>

        <!-- Side menu -->
        <div class="side-content">
            <div id="side-panel">
                <div class="list-group" id="side-list">
                      <a id="info-list" href="#" class="list-group-item active">info</a>
                      <a id="latest-list" href="#" class="list-group-item">latest records</a>
                      <a id="account-list" href="#" class="list-group-item">account</a>
                </div>
            </div>
        </div>

        <!-- The main content text -->
        <div class="center-content">
            <div id="userpanel-info">
                <div id="table-layout">

                    <div class="user-panel-square">
                        <div class="well">
                            <!-- <div :av="setJson({{downs}})"></div> -->
                            <p>records: {{records}}</p>
                            <p>first record: {{startDate}}</p>
                            <p>last record: {{lastDate}}</p>
                            <p><a href="#latest-records">latest records</a></p>
                        </div>
                    </div>

                    <div class="user-panel-square">
                        <div class="well" id="speeds">
                            <p>averages: </p>
                            <div :av="setJson({{downs}})"></div>
                            <p>download: [[average]]</p>
                            <div :av="setJson({{ups}})"></div>
                            <p>upload: [[average]]</p>
                            <div :av="setJson({{pings}})"></div>
                            <p>ping: [[average]]</p>
                        </div>
                    </div>
                </div>

                <div id="table-layout">
                    <div class="user-panel-square">
                        <div class="well">
                            <p>ISP:</p>
                        </div>
                    </div>

                    <div class="user-panel-square">
                        <div class="well">
                            <p>IP: {{ip_addr}}</p>
                            <p>Geolocation:</p>
                            <p>{{geolocation_1}}</p>
                            <p>{{geolocation_2}}</p>
                        </div>
                    </div>
                </div>
            </div>


            <div id="userpanel-latest-records">
                <!-- insert some vue based table script with last week's postgres data -->

            </div>



            <div id="userpanel-account">
                <div id="table-layout">

                    <div class="user-panel-square">
                        <div class="well">
                            <p>account name: {{username}}</p>
                            <p>register date: {{registerDate}}</p>
                            <p>API key: {{key}}</p>
                            <p></p>
                        </div>
                    </div>

                    <div class="user-panel-square">
                        <div class="well">
                            <p>change password:</p>
                            <p>
                                <div class="form-group">
                                  <div class="col-lg-10">
                                    <input class="form-control" id="inputEmail" placeholder="old password" type="text">
                                  </div>
                                </div>
                            </p>
                            <p>
                                <div class="form-group">
                                  <div class="col-lg-10">
                                    <input class="form-control" id="inputEmail" placeholder="new password" type="text">
                                  </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="table-layout">
                    <div class="user-panel-square">
                        <div class="well">
                            <p>delete your accout here:</p>
                            <p onclick="alert('not');" class="btn btn-danger">delete</p>
                        </div>
                    </div>

                    <div class="user-panel-square">
                        <div class="well">
                            <p>erase your data here:</p>
                            <p onclick="alert('not');" class="btn btn-danger">erase</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

<!-- Menu selection function -->
<script>
$(document).ready(function(){

    // Hide all elements except for the main one
    $('#userpanel-latest-records, #userpanel-account').hide();

    $("#side-list a").each(function(index, element) {
        $(this).click(function() {
            // on selection hide all others and set only the selected one as active
            $(".center-content").children("div:eq('" + index + "')").show().siblings().hide();
            $(this).siblings().removeClass("active");
            $(this).addClass("active");
        });
    });
});
</script>

</body>
</html>
